<div class="uk-container">
    <nav class="uk-navbar-container uk-margin-small-top uk-margin-small-bottom" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active">Meu time</li>
            </ul>
        </div>
        <div class="uk-navbar-right">

            <div class="uk-grid-small uk-child-width-auto uk-margin" uk-grid uk-countdown="date: 2023-04-07T09:52:19+00:00">
                <div>
                    <div class="uk-countdown-number uk-countdown-days"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                    <div class="uk-countdown-number uk-countdown-hours"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                    <div class="uk-countdown-number uk-countdown-minutes"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="uk-container uk-width-1">
    <div uk-grid>
        <div class="uk-width-1-5">
            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <br>
                    <p class="uk-text-center"><img src="//owcdn.net/img/64169733ae9f1.png" class="uk-border-circle" alt=""/></p>
                </div>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title uk-text-center">Nick</h3>
                <ul class="uk-list uk-list-divider">
                    <li>Headshot: 10</li>
                    <li>Assist: 13</li>
                    <li>Kills: 20</li>
                    <li>Pontuação geral: 20</li>
                </ul>
                <p class="uk-text-center">
                    <a href="#" class="uk-button uk-button-default uk-button-small">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: info; ratio: 0.8"></span>
                        Info
                    </a>
                </p>
            </div>
        </div>
        <div class="uk-width-1-5">
            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <br>
                    <p class="uk-text-center"><img src="//owcdn.net/img/641697212684c.png" class="uk-border-circle" alt=""/></p>
                </div>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Media top</h3>
                <ul class="uk-list uk-list-divider">
                    <li>Headshot: 10</li>
                    <li>Assist: 13</li>
                    <li>Kills: 20</li>
                    <li>Pontuação geral: 20</li>
                </ul>
                <p class="uk-text-center">
                    <a href="#" class="uk-button uk-button-default uk-button-small">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: info; ratio: 0.8"></span>
                        Info
                    </a>
                </p>
            </div>
        </div>
        <div class="uk-width-1-5">
            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <br>
                    <p class="uk-text-center"><img src="//owcdn.net/img/641697479d6df.png" class="uk-border-circle" alt=""/></p>
                </div>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Media top</h3>
                <ul class="uk-list uk-list-divider">
                    <li>Headshot: 10</li>
                    <li>Assist: 13</li>
                    <li>Kills: 20</li>
                    <li>Pontuação geral: 20</li>
                </ul>
                <p class="uk-text-center">
                    <a href="#" class="uk-button uk-button-default uk-button-small">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: info; ratio: 0.8"></span>
                        Info
                    </a>
                </p>
            </div>
        </div>
        <div class="uk-width-1-5">
            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <br>
                    <p class="uk-text-center"><img src="//owcdn.net/img/64169760a7c3a.png" class="uk-border-circle" alt=""/></p>
                </div>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Media top</h3>
                <ul class="uk-list uk-list-divider">
                    <li>Headshot: 10</li>
                    <li>Assist: 13</li>
                    <li>Kills: 20</li>
                    <li>Pontuação geral: 20</li>
                </ul>
                <p class="uk-text-center">
                    <a href="#" class="uk-button uk-button-default uk-button-small">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: info; ratio: 0.8"></span>
                        Info
                    </a>
                </p>
            </div>
        </div>
        <div class="uk-width-1-5">
            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <br>
                    <p class="uk-text-center"><img src="//owcdn.net/img/64169771ad6a9.png" class="uk-border-circle" alt=""/></p>
                </div>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Media top</h3>
                <ul class="uk-list uk-list-divider">
                    <li>Headshot: 10</li>
                    <li>Assist: 13</li>
                    <li>Kills: 20</li>
                    <li>Pontuação geral: 20</li>
                </ul>
                <p class="uk-text-center">
                    <a href="#" class="uk-button uk-button-default uk-button-small">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: info; ratio: 0.8"></span>
                        Info
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>