<div class="uk-container">
    <nav class="uk-navbar-container uk-margin-small-top uk-margin-small-bottom" uk-navbar>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li class="uk-active">Filtro aqui</li>
            </ul>
        </div>
    </nav>
</div>
<div class="uk-container">
    <div uk-grid>
        <div class="uk-width-1-3">
            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <br>
                    <p class="uk-text-center"><img src="//owcdn.net/img/64169733ae9f1.png" class="uk-border-circle" alt=""/></p>
                </div>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Media top</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum atque, possimus debitis dolore provident assumenda, veritatis, totam ea alias pariatur molestias! Corporis laborum error, ut nobis excepturi voluptas dolore enim.</p>
                <p class="uk-text-center">
                    <a href="#" class="uk-button uk-button-default">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
                        Visualizar
                    </a>
                </p>
            </div>
        </div>
        <div class="uk-width-1-3">
            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <br>
                    <p class="uk-text-center"><img src="//owcdn.net/img/641697212684c.png" class="uk-border-circle" alt=""/></p>
                </div>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Media top</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum atque, possimus debitis dolore provident assumenda, veritatis, totam ea alias pariatur molestias! Corporis laborum error, ut nobis excepturi voluptas dolore enim.</p>
                <p class="uk-text-center">
                    <a href="#" class="uk-button uk-button-default">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
                        Visualizar
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>