<div class="uk-container">
    <table class="uk-table uk-table-divider uk-margin-small-top">
        <caption class="uk-text-center">Table Caption</caption>
        <thead>
            <tr>
                <th>Player</th>
                <th>Titulo time</th>
                <th>Pontuação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>Table Data</td>
            </tr>
            <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>Table Data</td>
            </tr>
            <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>Table Data</td>
            </tr>
            <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>Table Data</td>
            </tr>
        </tbody>
    </table>
</div>